<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>로그인</title>
    </head>

    <body>
        <h4>로그인</h4>
        <span>샘플 고객 ID=asd / paswword=asd</span> <br/>
        <span>샘플 CS담당자 ID=zxc / paswword=zxc</span> <br/>

        <form method="post" action="/cs/login">
            ID: <input type="text" name="id"/><br/>
            Password: <input type="password" name="password"/><br/>
            <br/>
            <button type="submit">로그인</button>
        </form>
    </body>
</html>